@charset "UTF-8";

.wrapper {
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  width: 100%;
  margin-bottom: 40px;
}

.block:last-child {
  margin-bottom: 0px;
}

.block_1 .block__item {
  background-color: #5757b7;
}

.block_2 .block__item {
  background-color: #dd8657;
}

.block_3 .block__item {
  background-color: #aa4c84;
}

.block__item {
  padding: 10px 15px;
  margin-bottom: 20px;
  color: #fff;
}

.block__item:last-child {
  margin-bottom: 0px;
}

.block__title {
  background-color: inherit;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  width: 100%;
  text-align: start;
  line-height: 133.3333333333%;
}

.block__text {
  padding-top: 15px;
  line-height: 112.5%;
}

.block._init .block__title {
  cursor: pointer;
  padding: 10px 40px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  top: 20px;
  right: 10px;
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s linear 0s;
  transition: -webkit-transform 0.3s linear 0s;
  -o-transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
}

.block._init .block__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto";
  background-color: #333333;
}

body._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@media (min-width: 767px) {
  .block__title {
    font-size: calc(18px + 6 * ( 100vw / 1400));
  }

  .block__text {
    font-size: calc(16px + 2 * ( 100vw / 1400));
  }
}

@media (max-width: 767px) {
  .block__title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1400));
  }

  .block__text {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1400));
  }
}